ul, ol {
    list-style-type: none;
    }
        
    a {
    text-decoration: none;
    }
        
    button {
    cursor: pointer;
    }
     .page-logo{
        margin-left: 16px;
     }
    
    .home-link {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #bbf330;
    }
    
    
    .menu .menu-link {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #2c2c2c;
    }

    .page-button,
    .main-btn
     {
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        line-height: 1.5;
        text-align: right;
        color: #2c2c2c;
        font-weight: 500;
        
        border-radius: 30px;
        padding: 6px 17px;
        background-color: #bbf330;
        border-style: none;

    }

    .page-button:hover,
    .page-button:focus,
    .main-btn:hover,
    .main-btn:focus {
        background: #ffe450;
    }

    /*============HERO=================*/
h1,
.main-paragraf {
    width: 511px;
height: 213px;
margin-left: 16px;
}

.main-btn{
    margin-left: 16px;
}

   h1{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 48px;
line-height: 1.2;
margin-bottom: 26px;
color: #2c2c2c;
   }

   .section-hero .main-paragraf{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2c2c2c;
   }

   /*=========OFFERINGS=============*/
   .section-apple {
    background: #ffe550;
   }

   .img-apple{
    margin-left: 100px;
   }

   .title-offering{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 42px;
line-height: 1.2;
color: #2c2c2c;
   }

   .text-apple{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2c2c2c;
   }

   .name-offering{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.4;
color: #2c2c2c;
   }

   .text-offering{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #2c2c2c;
   }

   .btn-offering{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
color: #2c2c2c;

border: 2px solid #7eb101;
border-radius: 30px;
padding: 10px 20px;
width: 106px;
height: 40px;
background: #fff;
   }

/*=========FAVORITES==============*/

   .title-favorites{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 42px;
text-align: center;
color: #2c2c2c;
   }

   .text-favorites{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
text-align: center;
color: #2c2c2c;
   }

   .example-favorites{
    margin-left: 72px;
   }



   /* ========CUSTOMERS============*/
   .section-cust{
    background: #ffe550;
   }
   
   .title-cust{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 42px;
color: #2c2c2c;
   }
   
   .text-cust{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
color: #2c2c2c;
   }

   .comment{
    border-radius: 0 30px 30px 30px;
    width: 501px;
    height: 231px;
    background: #fefefe;
   }

  .text-comment{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 18px;
color: #2c2c2c;
   }

   .text-sumith{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.5;
color: #2c2c2c;
   }

   .text-dude{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #2c2c2c;
   }


/*==============SUBSCRIBE==================*/
   .title-subscribe{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 42px;
line-height: 1.2;
color: #2c2c2c;
   }

   .text-subscribe{ 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2c2c2c;}

    .enter-email{
        font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #505050;

border: 0.85px solid #ffe550;
border-radius: 30px;
padding: 10px;
background: #fefefe;
    }

    .btn-subscribe{
        font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
color: #2c2c2c;
border-style: none;

border-radius: 30px;
padding: 10px 20px;
background: #bbf330;
    }

    /*=============FOOTER================*/

    footer{
        background: url("../images/fruit-footer.png");
        background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
    }
