* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

/* ======================= Footer ======================= */
footer li {
  display: block;
}
footer {
  background: url("backgroundFooter.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.footer-main-block {
  align-items: center;
  margin-bottom: 80px;
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.footer-bottom-info {
  align-items: center;
  justify-content: space-between;
}
.footer-header-info {
  display: flex;
  gap: 28px;
  margin: 0 auto;
}
.footer-header-info a {
  color: #2c2c2c;
  text-decoration: none;
}
form.footer-form {
  display: flex;
  align-items: center;
}
button.sub-btn.btn {
  margin-left: 38px;
  width: 100%;
  max-width: 103px;
  height: 43px;
}
.footer-links {
  gap: 20px;
}
.footer-links-btn {
  color: #7eb101;
}
.footer-form-block {
  /* position: relative;
    z-index: 1; */
  width: 279px;
}
.footer-form-block #email-input {
  border-radius: 30px;
}
#email-input {
  background: transparent;
  border: 1px solid #ffe550;
  /* position: relative;
    z-index: 3; */
  outline: none;
  height: 18px;
  padding: 12px;
  color: #505050;
  border-radius: 2px;
  width: 100%;
}
/* footer .label-for-email {
    position: absolute;
    z-index: 2;
    left: 4%;
    top: 34%;
    transition: .1s all ease;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
} */
/* .footer-form-block input:not(:placeholder-shown) + label,.footer-form-block input:active + label,.footer-form-block input:focus + label {
    top: -9px;
    background: #fff;
    padding: 0 5px;
    z-index: 4;
    font-size: 12px;
    color: #505050;
} */
