* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #2c2c2c;
    margin: 0;
}
footer li {
    display: block;
}
footer {
    background: url("backgroundFooter.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 100px 0;
    margin-top: 100px;
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}
.container {
    max-width: 1310px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-main-block {
    align-items: center;
    margin-bottom: 80px;
    justify-content: space-between;
}
.d-flex {
    display: flex;
}
.footer-bottom-info {
    align-items: center;
    justify-content: space-between;
}
.footer-header-info {
    display: flex;
    gap: 28px;
    margin: 0 auto;
    padding: 0;
}
form.footer-form {
    display: flex;
    align-items: center;
}
button.sub-btn.btn {
    width: 100%;
    max-width: 103px;
    border-radius: 30px;
    border: 0.85px solid #7EB101;
    padding: 10px 20px;
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    margin-left: 13px;
    cursor: pointer;
}
button.sub-btn.btn:hover,
button.sub-btn.btn:active {
    border: 0.85px solid #ffe450;
    transition: 0.5s;
}
.footer-links {
    gap: 20px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}
.footer-links-btn {
    color: #7EB101;
}
.footer-links-btn:hover,
.footer-links-btn:active {
    color: #551a8b;
    text-decoration: none;
}
.footer-form-block {
    width: 279px;
}
#email-input {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    max-width: 279px;
    height: 42px;
}
#email-input:focus-visible {
    border: 0.85px solid #7EB101;
    outline: none;
    transition: 0.5s;
}
.footer-header-info-link {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #2C2C2C;
}
.footer-header-info-link:hover,
.footer-header-info-link:active {
    color: #7EB101;
    text-decoration: underline;
}
footer .sub-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 12px 0;
}
footer .privacy {
    font-weight: 400;
    font-size: 12px;
    margin: 12px 0 0 0;
}
footer .copyright {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}